/* common */
*{margin:0;padding:0;box-sizing:border-box;}
ul,ol{list-style:none}
button{-webkit-border-radius:0;border-radius:0;background-color:transparent;cursor:pointer}
a,a:hover,a:active,a:focus{text-decoration:none}
button{border:0 none;background-color:transparent;cursor:pointer}
em,address{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
iframe,fieldset,img{border:0 none}
textarea{resize:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
img{vertical-align:top}
hr{display:none}

.for-a11y{ position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;clip: rect(0 0 0 0);overflow: hidden;text-indent: -5000em;}


/* header */
.section__header{
  overflow:hidden;
  height:56px;
  padding:0 10px;
  border-bottom:1px solid #e5e5e5;
}
.section__header.section__header--active{
  position:fixed;
  top:0;
  left:0;
  width:100%;
}
.section__header .box__logo{
  float:left;
  width:120px;
  height:56px;
}
.section__header .box__search{
  padding:13px 0 0 10px;
}

.box__header{
  max-width:1280px;
  margin:0 auto;
  overflow:hidden;
}

.box__search{
  overflow: hidden;
}
.box__search .box__form{
  
}
.box__search .box__form .form__input{
  flex:1;
  padding:0 10px;
  height:30px;
  border:1px solid #ccc;
}
.box__search .box__form .button__search{
  width:65px;
  height:30px;
  background-color:#727272;
  color:#fff;
}

.box__search .form__box{
  display:block;
  width:100%;
  display:flex;
}



.link__thumnail{
  display:block
}

.link__channel{
  display:block
}

.link__information{
  display:block
}


/* main container */
.box__container{
  max-width:1280px;
  margin:0 auto;
  padding:20px 0;
}

/* main play-list */
.list__play-item{
  overflow: hidden;
}
.list__play-item .list-item{
  float:left;
  width:25%;
  padding:10px;
  background-color:#fff;
}

.list__play-item .list-item .box__item{
  
}

.list__play-item .box__thumnail{
  position: relative;
  overflow: hidden;
  height:136px;
}

.list__play-item .box__thumnail .image__thumnail{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
}

.box__information{
  padding:5px;
}
.box__information .box__title{
  display: -webkit-box;
  overflow: hidden;
  height:36px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word; 
  font-size:16px;
  line-height:18px;
  color:#333;
}

.box__information .box__chenel{
  overflow:hidden;
  width:36px;
  height:36px;
  border-radius:50%;
  background-color:#ccc;
}

.box__information .box__video-meta{
  font-size:14px;
  color:#727272;
}

.box__information .box__video-meta .text__view{
  position:relative;
  padding-right:5px;
  margin-right:5px
}

.box__channel{
  font-size:14px;
  color:#727272;
}

.box__information .box__video-meta .text__view:after{
  content:'';
  position:absolute;
  top:50%;
  right:-1px;
  width:2px;
  height:2px;
  background-color:#333;
  border-radius: 50%;
}

.box__detail-information{
  overflow:hidden;
  position:relative;
  margin-top:5px;
  padding-left:50px;
}

.box__channel-thumnail{
  position:absolute;
  top:0;
  left:0;
  width:36px;
  height:36px;
  margin-right:10px;
  background-color:#333;
  border-radius: 50%;
}

.box__channel{
  overflow:hidden;
}

.box__video-meta{
  overflow:hidden;
  margin-top:2px;
}